<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>127327654843-56b7i1e2hudjoo5vf77nqqut70b88hol.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.127327654843-56b7i1e2hudjoo5vf77nqqut70b88hol</string>
	<key>API_KEY</key>
	<string>AIzaSyDshwUMIlgdUU4HMLx98ghu_3QMiJDlqtM</string>
	<key>GCM_SENDER_ID</key>
	<string>127327654843</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.ScopicTest</string>
	<key>PROJECT_ID</key>
	<string>scopictest-ad205</string>
	<key>STORAGE_BUCKET</key>
	<string>scopictest-ad205.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:127327654843:ios:c2075e2a8df0ace297aa9e</string>
</dict>
</plist>